[Main Configuration File]
C:\Users\SilverLab\Documents\MATLAB\mini-controller\Core\+default\setup.ini
[Calibration File]
C:\Users\SilverLab\Documents\MATLAB\mini-controller\Core\+default\calibration.ini